In [1]:
print("Hello world")

Hello world

In [2]:
city="Kathmandu"
print(city)

Kathmandu

In [3]:
'''Printing 2 or more string and variables inside single print'''
print("City:","Kathmandu")

City: Kathmandu

In [4]:
print("City: ","Kathmandu")

City:  Kathmandu

In [5]:
print("City:",city)

City: Kathmandu

In [1]:
'''Taking input from user'''
name=input()
print(name)
name=input("Give ur friend's name: ")
print(name)
print(type(name))

Oudarja
Oudarja
Give ur friend's name: Soumik datta
Soumik datta
<class 'str'>

In [2]:
'''input function always take input as string'''
a=5;
print(type(a))
a=9.0
print(type(a))

<class 'int'>
<class 'float'>

In [3]:
'''Convert from str to int'''

a=input("Enter a number")
a=int(a)

print(type(a))

Enter a number23
<class 'int'>

In [4]:
#taking input with type casting 
a=float(input("Enter a number"))

print(type(a))

Enter a number12.34
<class 'float'>

In [5]:
#for multiline string triple quoates is used 
#when multiline string is not assigned to any variables then it is comment of multiline
st='''I am a
multiline string'''

print(st)

I am a
multiline string

In [12]:
#floor division and only division
x=5;
y=2;
#floor division
print(x//y)

print(x/y)

#** for to the power

print(2**4)

2
2.5
16

In [9]:
#comparison operator
num=5
print(num<10)
print(num>10)
print(num!=11)
print(num<=2)
print(num>=3)
print(num==5)

#logical operator

age=23
gpa=3.9

result=age>=18 and gpa>=3.00
print(result)
result=age>18 or gpa>=3.00
print(result)
print(not(result))

True
False
True
False
True
True
True
True
False

In [14]:
score=int(input("Enter ur score: "))
if score>50:
    print("You have passed")
    print("Congratulations")
else:
    print("Sorry")

Enter ur score: 30
Sorry

In [15]:
num=int(input("Enter a number"))
if num>0:
    print("Number is positive")
elif num<0:
    print("Number is negative")
else:
    print("Number is Zero")

Enter a number1
Number is positive

In [6]:
#loop


count=0

while count<5:
    print("Loop is interesting")
    count=count+1
    
#multiplication table

num=int(input("Enter a number"))

cnt=1

while cnt<=10:
    print(cnt*num)
    cnt=cnt+1


#for loop

for item in range(1,6):
    print(item)
    if item==4:
        break


    
while True:
    num=float(input("Enter a number"))
    if num<0:
        break

Loop is interesting
Loop is interesting
Loop is interesting
Loop is interesting
Loop is interesting
Enter a number100
100
200
300
400
500
600
700
800
900
1000
1
2
3
4
Enter a number12
Enter a number23
Enter a number45
Enter a number-1

In [7]:
#continue statement
for i in range(1,10):
    num=int(input("Enter a number"))
    if num<0:
        continue
    else:
        print(num)

Enter a number12
12
Enter a number23
23
Enter a number45
45
Enter a number-1
Enter a number12
12
Enter a number-1
Enter a number-2
Enter a number-3
Enter a number-33

In [9]:
languages=["python","java","c++","swift","c"]

for i in languages:
    if i=="c" or i=="c++":
        continue
    else:
        print(i)

python
java
swift

In [10]:
text="Python"

for i in text:
    print(i)

P
y
t
h
o
n

In [6]:
#pass statement

num=9.0

if num>0.0:
    pass
# so here inside if pass is working so when needed i can give statement inside if block 
if num+1==10.0:
    print("pass working")

pass working

In [7]:
#function

def greet():
    print("hello")
    print("How are You")

greet()

hello
How are You

In [8]:
def func(n1,n2):
    return n1+n2

u=func(1,2)

print(u)

3

In [2]:
marks=[10,11,13,15]
length=len(marks)
print(length)

Sum=sum(marks)

print(Sum)

4
49

In [4]:
#find avaerage marks
def average(marks):
    Sum=sum(marks)
    return Sum/len(marks)


def computegrade(avg_marks):
    if avg_marks>=80:
        return 'A'
    elif avg_marks>=60:
        return 'B'
    else:
        return 'F'
    


marks=[10,11,13,15]

avg=average(marks)
print(avg)

print(computegrade(avg))

12.25
F

In [7]:
#use of default value in function argument
#here first argument is used as pased value
def func(n1,n2=100):
    return n1+n2;


num=5;

print(func(5))
#here passed argument used in n1 

#again

def func(n1=100,n2=100):
    return n1+n2;

num=5;
print(func(5))


#agin with out argument default value is used

def func(n1=100,n2=100):
    return n1+n2;

num=5;
print(func())

105
105
200

In [8]:

def greet(name,message):
    print("hello",name)
    print(message)
    
greet("Soumik","How is ur day")

hello Soumik
How is ur day

In [9]:
#global variable

message="How are u doing"

def greet(name):
    print("hello",name)
    print(message)
    
greet("Soumik")

hello Soumik
How are u doing

In [4]:
message="How are u doing"

def greet():
    message="Hey what's up"
    print("Inside function ",message)
    
greet()

print("Outside function ",message)

#To change the value of global variable inside function global keyword is used
#Here global variable value is changed
message1="How are u doing"

def greet():
    global message1
    message1="Hey what's up"
    print("Inside function ",message1)
    
greet()

print("Outside function ",message1)

Inside function  Hey what's up
Outside function  How are u doing
Inside function  Hey what's up
Outside function  Hey what's up

In [5]:
#list

numbers=[1,2,3,4,5]
#mixed list

mixed=["Oudarja",1,2,3.7]

empty=[]

print(mixed)
print(numbers)
print(empty)
print(numbers[0])
numbers.append(90)
print(numbers)

#negative indexing -1 is the last index 

print(numbers[-1])
print(mixed[-2])

print(mixed[2:])

['Oudarja', 1, 2, 3.7]
[1, 2, 3, 4, 5]
[]
1
[1, 2, 3, 4, 5, 90]
90
2
[2, 3.7]

In [7]:
numbers=[1,2,3,4,5]
print(numbers[0:3])
print(numbers[2:5])
#changes 2 to 3 index element
numbers[1:4]=[90,99,100]
print(numbers)

#whether a item is in the list or not
if 100 in numbers:
    print(True)
else:
    print(False)
    
#Insert element anywhere in list
#at 2nd index 200 is inserted
numbers.insert(2,200)
print(numbers)
#remove an element

numbers.remove(200)

print(numbers)

#copy list to another list
numbers1=numbers;
print(numbers1)

[1, 2, 3]
[3, 4, 5]
[1, 90, 99, 100, 5]
True
[1, 90, 200, 99, 100, 5]
[1, 90, 99, 100, 5]
[1, 90, 99, 100, 5]

In [10]:
#tuples
numbers=(-1,2.3,0,0,8,11)

print(numbers)

#use loop 

for i in numbers:
    print(i)
    
#print a slice from tuple

print(numbers[1:3])
#tuple can not be changed like list that means no element can be inserted or deleted from tuple

(-1, 2.3, 0, 0, 8, 11)
-1
2.3
0
0
8
11
(2.3, 0)

In [13]:
#double quotes and single quotes in side a string

text="He said,\"What\'s there?\""
print(text)

He said,"What's there?"

In [4]:
str="Hello"

print(str[-1])
print(str[-2])
#slicing

print(str[0:2])

print(str[1:])

o
l
He
ello

In [15]:
text1="Python"
text2="Programming"
print(text1+" "+text2)
#repeat a string

new_str=text1*3
print(new_str)
#checking a character or string in a string as a substring

print("rog" in text2)

print('r'in text2)
#make all character in lower_case

print(text1.upper())

print(text1.lower())
# find the index of first occurence a substring in a string

print(text1.find("th"))

Python Programming
PythonPythonPython
True
True
PYTHON
python
2

In [27]:
#dictionaries
#key:value
#dictionary name person1
person1={"name":"Linus","age":21}
print(person1)
print(person1["name"])
person1["name"]="Denish"
print(person1)
#remove element 
person1.pop("name")
print(person1)
person={"name":"Soumik","age":24,"skill":"datascience"}
for i in person:
    print(i)
    print(person[i])

{'name': 'Linus', 'age': 21}
Linus
{'name': 'Denish', 'age': 21}
{'age': 21}
name
Soumik
age
24
skill
datascience

In [39]:
#sets
# sets item have no indexes because they are not in any particular order
animals={"dog","cat","tiger","elephant"}
print(animals)
#empty set
animals=set()
print(animals)

#converting a list to set
number=[1,4,23,2,1,6,7,1]
num_set=set([1,4,23,2,1,6,7,1])
print(num_set)

#add element

num_set.add(1000)
print(num_set)
animals1={"dog","cat","tiger","elephant"}
animals2={"dog","cat","tiger","elephant","Leopard"}

animals2.update(animals1)

print(animals2)

#update using direct set

animals2.update({"Dolphins"},{"Lizard"})

print(animals2)

#remove an element from set

animals2.remove("Lizard")

print(animals2)
#To clear all elements from set

animals2.clear()

print(animals2)

{'elephant', 'dog', 'cat', 'tiger'}
set()
{1, 2, 4, 6, 7, 23}
{1, 2, 4, 6, 7, 1000, 23}
{'tiger', 'elephant', 'dog', 'Leopard', 'cat'}
{'tiger', 'elephant', 'dog', 'Lizard', 'Leopard', 'cat', 'Dolphins'}
{'tiger', 'elephant', 'dog', 'Leopard', 'cat', 'Dolphins'}
set()

In [44]:
#union of 2 sets


domestic_animals={"dog","cat","elephant"}
animals={'elephant', 'dog', 'cat', 'tiger'}

animals1=animals.union(domestic_animals)

print(animals)

#intersection of 2 set

intersection_animal=animals.intersection(domestic_animals)
print(intersection_animal)

{'elephant', 'dog', 'cat', 'tiger'}
{'elephant', 'dog', 'cat'}

In [46]:
#range

res=range(1,11)
print(list(res))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]